body{
    font-family: Arial, sans-serif;
}
header{
    text-align: center;
    padding: 10px;
    background-color: #dd9d1b;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
section{
    margin: 20px;
}
.project{
    width: 200px;
    height: 200px;
    border: 1.5px solid #c99f20;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}
h1, h2{
    color:#9ae6cb;
}
#bio,#work{
    background-color: #22b5b2;
    padding: 15px;
}
footer{
    background-color: #e46b6b;
    text-align: center;
    padding: 10px;
}